.main {
  min-height: 90vh;
}

.nav-link {
  color: black !important;
  text-decoration: none !important;
}

.nav-link:hover {
  color: white !important;
}

.card-title {
  color: black !important;
  text-decoration: none !important;
}

.rating span {
  margin: 0.05rem;
}

.shadowbox {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.special-nav-link {
  color: #333 !important;
  padding: 10px 20px !important;
  border-radius: 30px !important;
  background-color: lightblue !important;
  margin: 0 10px !important;
  text-decoration: none !important;
}

.special-nav-link-disabled {
  color: #333 !important;
  padding: 10px 20px !important;
  border-radius: 30px !important;
  background-color: lightgray !important;
  margin: 0 10px !important;
  text-decoration: none !important;
}

.separating-line {
  border-top: 5px solid black !important;
  margin: 10px 0 !important;
  border-radius: 5px;
}

.green-icon {
  color: green;
}

.red-icon {
  color: red;
}
