.main {
  min-height: 90vh;
}

.nav-link {
  color: black !important;
  text-decoration: none !important;
}

.nav-link:hover {
  color: white !important;
}

.card-title {
  color: black !important;
  text-decoration: none !important;
}

.rating span {
  margin: 0.05rem;
}
