.main {
  min-height: 90vh;
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-link {
  color: black !important;
  text-decoration: none !important;
}

.nav-link:hover {
  color: white !important;
}

.card-title {
  color: black !important;
  text-decoration: none !important;
}

.rating span {
  margin: 0.05rem;
}

.shadowbox {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.special-nav-link {
  color: #333 !important;
  padding: 10px 20px !important;
  border-radius: 30px !important;
  background-color: lightblue !important;
  margin: 0 10px !important;
  text-decoration: none !important;
}

.special-nav-link-disabled {
  color: #333 !important;
  padding: 10px 20px !important;
  border-radius: 30px !important;
  background-color: lightgray !important;
  margin: 0 10px !important;
  text-decoration: none !important;
}

.separating-line {
  border-top: 5px solid black !important;
  margin: 10px 0 !important;
  border-radius: 5px;
}

.green-icon {
  color: green;
}

.red-icon {
  color: red;
}

.yellow-icon {
  color: rgb(249, 191, 59);
}

.carousel-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel {
  width: 80%;
  max-width: 800px;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.carousel-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.popup-container {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent gray background */
}

.popup-content {
  background-color: white;
  margin: 10% auto; /* Adjust margin to center vertically */
  padding: 20px;
  width: 90%; /* Increase width */
  max-width: 1000px; /* Increase maximum width */
  height: 90%; /* Increase height */
  max-height: 600px; /* Increase maximum height */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
